<div class="container">
  <div class="modal-body">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <input
          type="text"
          name="nombre"
          class="form-control"
          placeholder="{{ 'search' | translate }}"
          [(ngModel)]="searchbox"
        />
      </div>

      <div class="col-md-1">
        <a class="btn btn-primary" routerLink="results" (click)="searchFinal()">
          {{ "save" | translate }}
        </a>
      </div>
      <div class="col-md-2">
        <a (click)="searchFinal()">
          <img
            src="https://t3.ftcdn.net/jpg/03/20/78/84/360_F_320788475_nEiLVViOBewea7taZWqNUR0lJAMTAaSo.jpg"
          />
        </a>
      </div>
    </div>
  </div>
</div>

<section id="clientes">
  <!-- </section> -->

  <app-list></app-list>
</section>
