<section id="clientes">
  <div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <a (click)="favi()"
              ><h4>{{ "yourFavorites" | translate }}</h4></a
            >
          </div>
        </div>
        <table class="table table-bordered">
          <thead class="thead-dark">
            <th>{{ "artists" | translate }}</th>
            <th>{{ "songs" | translate }}</th>
            <th>{{ "albums" | translate }}</th>
          </thead>
          <tbody>
            <tr>
              <td scope="row">
                <tr *ngFor="let item of favoriteArtists; let i = index">
                  <p>{{ item }}</p>
                  <p></p>
                </tr>
              </td>
              <td scope="row">
                <tr *ngFor="let item of favoriteSong; let i = index">
                  <p scope="col">{{ item }}</p>
                </tr>
              </td>
              <td scope="row">
                <tr *ngFor="let item of favoriteAlbum; let i = index">
                  <p scope="col">{{ item }}</p>
                </tr>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- tarjetas laterales -->
  </div>
</section>
