<section id="clientes">
  <div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4>{{ "yourFavorites" | translate }}</h4>
          </div>
        </div>
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>{{ "songs" | translate }}</th>
              <th>{{ "albums" | translate }}</th>
              <th>{{ "artists" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>I'm falling</td>
              <td>Your song</td>
              <td>Bon Iver</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- tarjetas laterales -->
  </div>
</section>
